.outer{
  background-color: rgb(218, 85, 85);
   overflow: auto;
}

.search{
  height: 100px;
  padding: 5px;
  float: left;
}

.budget{
  float: right;
}

h2 {
  color: white;
}

.fa-trash {
  color: white;
  font-size: 5ex;
  cursor: pointer;
  float: left;
}

.large{
  float: left;
  text-align: center;
  width: 30%;
  margin: 14px 1.666%;
  overflow: hidden;
}

.select{
  text-align: center;
}

