
.search{
  background-color: rgb(218, 85, 85);
  height: 250px;
  padding: 10px;
}


h2 {
  color: white;
}

.fa-trash {
  color: white;
  font-size: 5ex;
  cursor: pointer;
  position: relative;
  left: 50%;
}

.big{
  float: left;
  text-align: center;
  height: 443px;
  width: 30%;
  margin: 14px 1.666%;
  overflow: hidden;
}
