img {
    width: 300px;
    height:400px;

 }

 p{
     padding-left: 35px;
     padding-right: 35px;
 }

 .remove-button{
     cursor: pointer;
 }


.movie-card{
    size: 25%;
    float: left;
    cursor: pointer;
}
