img {
    width: 500px;
    height:270px;

 }

 p {
     padding-left: 20px;
     padding-right: 20px;
 }

 .remove-button{
     cursor: pointer;
 }


.movie-card{
    size: 30%;
    float: left;
    cursor: pointer;
}
